*{
    margin: auto;
    padding: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    position: relative;
    top: 20px;
    
}

a {
    text-decoration: none;
}
 
ul{
    color: white;
    list-style-type: none;
    margin: 10px;
   
}


ul li a{ 
    width: 150px;
    height: 70px;
    background-color:rgb(240, 85, 85);
    color: white;
    margin: 0px;
    text-align: center;
    line-height: 70px;
    float: left;
    font-size: 20px;
    
}

li a{
    color: white;
    
}

ul li ul{
    background: rgb(255, 255, 255) ;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    top: 54px;
    left: 50px;
    z-index: 100;
}


ul li:hover > ul,
ul li ul:hover {
visibility: visible;
opacity: 1;
display: block;
font-size: 20px;
}

ul li a:hover{
transition: 0.2s;
color: black;
background-color: gold;
}


ul li ul li {
 width: 500px;
}


.header{
    width: 100%;
    height: 130px;
    border: 10px solid black;
    background-color:rgb(240, 85, 85);
}

.navbar_float1{
    float: left;
    width: 700px;
}

.navbar_float2{
    float: left;
    text-align: right;
    width: 850px;
    line-height:130px;
    height: 130px;
}

.My_projects{
    font-weight: 1000;
    font-size: 60px;
    text-align: right;
    color: white;
   cursor: default;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}


.Main{
    width: 100%;
    height: 1000px;
    display: inline-block;
}

.Content_1{
background-color: crimson;
width: 80%;
height: 900px;
text-align: center;
transition: 2s;
display: list-item;
list-style-type: none;
border: 10px solid black;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.Content_1:hover{
    transition: 2s;
    color: white;
    
}



.Content_2{
    background-color:cyan;
    width: 80%;
height: 3250px;
margin-top: 150px;
text-align: center;
transition: 2s;
display: list-item;
list-style-type: none;
border: 10px solid black;
box-shadow: 0 0 20px rgba(0,0,0,0.5);

    }


    .Content_3{
        background-color: blue;
        width: 80%;
height: 200px;
margin-top: 150px;
        }


        .otstup{
            height: 100px;
        }



.text_content1{
   line-height: 100px;
    left: 200px;
    top: 90px;
    font-size: 50px;
    cursor: default;
}

.text_content2{
    left: 200px;
    top: 380px;
    font-size: 50px;
    line-height: 100px;
    cursor: default;
    transition: 2s;
}


.text_content3{
    line-height: 100px;
    left: 200px;
    top: 690px;
    font-size: 50px;
    cursor: default;
}


.content_block{
    width: 400px;
    height: 300px;
    background-color: lightcoral;
    margin-top:80px ;
    border: 5px solid black;
    transition: 2s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content_block2{
    background-color:springgreen;
}


.Content_1:hover .content_block{
    border: 5px solid black;
    transition: 2s;
}

.Content_1:hover .content_text_lesson{
    transition: 2s;
    color: white;
}

.Content_1:hover .content_text_name{
    color: white;
    transition: 2s;
}


.Content_2:hover .content_block{
    border: 5px solid black;
    transition: 2s;
}

.Content_2:hover .content_text_lesson{
    transition: 2s;
    color: white;
}

.Content_2:hover .content_text_name{
    color: white;
    transition: 2s;
}

.Content_2:hover .text_content2{
    color: white;
    transition: 2s;
}




.space_between{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}


.content_text_lesson{
    font-size: 40px;
    color: black;
    transition:2s;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
   
}

.content_text_name{
    font-size: 25px;
    color: black;
    transition:2s;
    text-align: left;
margin-left: 20px;
}

.Content_1:hover .content_text_button{
    color:white;
    transition: 2s;
    
}


.Content_2:hover .content_text_button{
    color:aquamarine;
    transition: 2s;
    
}

.content_text_button:hover{
    background-color: gold;
    transition: 0.2s;
    transition-duration: 0.2s;
    
}



.content_text_button{
    display: block;
    font-size: 30px;
    color: black;
    transition: 2s;
    text-align: center;
    line-height: 50px;
    width: 200px;
    height: 50px;
    background-color:crimson;
transition: 2s;
border: 3px solid black;
}

.content_text_button2{
    background-color: blueviolet;
}

.badge{
width: 70px;
height: 20px;
background-color: white;
border: 1px solid black;
position: relative;
color: black;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border-radius: 40px;
text-align: center;
line-height: 20px;
font-weight: 600;
transition: 0.2s;
right: -120px;
top: -180px;
box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.badge:hover{
    background-color: gold;
    transition: 0.2s;
}

